input:checked, input:focus {
    outline: 2px auto yellow;
}
button:hover {
    background-color: darkgreen;
}
#card:invalid {
    border: 2px solid rgb(236, 7, 7);
}
#card:valid {
    border: 2px solid green;
}
input:invalid {
    border: 2px solid red;
}
input:valid {
    border: 2 px solid green;
}